<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.getout.brigand"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="18" />

    <application>
        <service android:name=".BrigandService" />
    </application>

</manifest>
